@media (max-width: 991px) {
  .hide-991 {
    display: none;
  }
  .show-991 {
    display: block;
  }
  .popular-services__item {
    flex: 0 0 calc(50% - 30px);
  }
  .project-card {
    flex-wrap: wrap;

    &__photo {
      width: 100%;
    }
    &__descr {
      width: 100%;
      margin: 25px 0 20px;
      padding: 0 30px;
    }
    &__title {
      font-size: 18px;
      font-weight: 500;
    }
    &__property:not(.project-estimate) {
      display: none;
    }
  }
  .bottom-call-back {
    flex-direction: column;
    align-items: flex-start;

    .title-h4 {
      margin-bottom: 15px;
    }
  }
  .bottom-call-back {
    margin-bottom: 70px;
  }
  hr.divider {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .footer-nav {
    justify-content: center;
  }
  .footer-contact {
    justify-content: space-around;
    padding: 35px 0 20px;
  }
  .footer-contact__col:last-child{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .main-slider {
    margin-top: 0;
  }
  .footer-review {
    margin-bottom: 0;
  }
  .main-slider {
    margin-right: -15px;
    margin-left: -15px;
  }
  .main-directions__descr {
    padding: 10px;
  }
  .main-directions__title {
    font-size: 24px;
    line-height: 24px;
  }
  .main-directions__info {
    font-size: 12px;
  }
  .title-h2 {
    font-size: 30px;
  }
  .project-card__descr {
    display: flex;
    flex-wrap: wrap;
  }
  .project-card__title {
    width: 100%;
  }
  .project-card__rating {
    width: 35%;
  }
  .project-card__property {
    width: 65%;
    justify-content: flex-end;
    border-top: none;
  }
  .project-card .project-estimate__price {
    margin-left: 20px;
  }
  .project-estimate div{
    white-space: nowrap;
  }
  h1 {
    font-size: 36px;
    line-height: 36px;
  }
}
