.header {
  background-color: #e5f5fd;

  &-nav {
    margin-left: 320px;
    justify-content: space-between;

    &__link {
      color: $primary-color;
      font-size: $fz-sm;
      font-weight: bold;
      display: flex;
      align-items: center;
      padding: 14px 0;
      position: relative;

      &:after {
        content: "";
        background: $info-color;
        height: 2px;
        width: 0;
        left: 0;
        right: 0;
        position: absolute;
        bottom: 0;
        border-radius: 8px;
        transition: width 0.3s;
      }

      &:hover {
        color: $info-color;
        text-decoration: none;

        &:after {
          width: 100%;
        }
      }

    }
  }
}

.header-nav__link.stock:before{
  content: "";
  width: 26px;
  height: 26px;
  margin-right: 12px;
  background: url("../../images/icons/sprite.png") -613px -58px;
}