.sidebar {
  transform: translateY(-55px);
  background-color: #fff;
  width: 300px;
  border: 1px solid $br-color;
  border-top: 0;
  margin-right: 20px;

  &__logo {
    text-align: center;
    padding: 25px 40px;
    border-bottom: 1px solid $br-color;
    margin-bottom: 0;
  }

  .logo-text {
    font-size: 10px;
    color: #666;
    margin-top: 10px;
  }

  &-nav {

    &__item {
      padding: 25px 40px;
      border-bottom: 1px solid $br-color;
      font-size: $fz-md;
    }

    &__link {
      color: $text-dark;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:after {
        content: url("../../images/arrow.png");
        line-height: 0;
      }

      &.active:after {
        transform: rotateZ(180deg);
      }
    }
  }
}

.sub-nav {
  padding-top: 25px;
  font-size: $fz-sm;

  &__item {
    padding: 10px 0 0 12px;
  }

  &__link {
    color: $secondary-color;
  }
}
