@import "../utils/_mixins";
@import "../utils/_vars";

.contacts {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  h1 {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 45px;
  }
  &__title {
    margin-bottom: 30px;
    font-size: $fz-md;
  }

  &__item {
    &:before {
      width: 35%;
      margin-right: 15px;
    }
    &--1 {
      &:before {
        content: "";
        max-width: 44px;
        height: 42px;
        background: url("../../images/icons/sprite.png") -220px -422px;
      }
    }
    &--2 {
      &:before {
        content: "";
        max-width: 46px;
        height: 46px;
        background: url("../../images/icons/sprite.png") -154px -422px;
      }
    }
    &--3 {
      &:before {
        content: "";
        max-width: 48px;
        height: 34px;
        background: url("../../images/icons/sprite.png") -284px -422px;
      }
    }
  }

  &__text {
    p {
      margin-bottom: 0;
    }
  }

  &__contacts {
    color: $primary-color;
    font-size: $lh-md;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }

  .row {
    margin-bottom: 40px;
  }

  iframe {
    width: 100%;
    margin-bottom: 55px;
  }
}
