@import "../utils/_mixins";
@import "../utils/_vars";

.project-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $br-color;

  &__photo {
    width: 60%;
    img {
      width: 100%;
    }
  }

  &__descr {
    padding: 0 40px;
    width: 40%;
  }

  &__title {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
  }

  &__rating {
    margin: 15px 0;
  }

  &__property {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $br-color;
    padding: 15px 0;
    line-height: 15px;

    span:nth-child(2) {
      min-width: 90px;
      padding-left: 10px;
    }
  }

  .project-estimate {

    &__link  {
      border-bottom: 1px dashed;
      line-height: 21px;

      &:hover {
        border-bottom: 0;
        text-decoration: none;
      }
    }

    &__icon {
      color: #26a1ea;
      width: 21px;
      height: 24px;
      background: url("../../images/icons/sprite.png") -613px -192px;

      &:hover {
        cursor: pointer;
      }
    }

    &__price {
      font-weight: bold;
      font-size: 24px;
    }
  }
}
