.popular-services {
  margin-bottom: $mb50;

  &__item {
    border: 1px solid $br-color;
    padding: 25px 40px;
    border-radius: 3px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    &:before {
      margin-right: 30px;
    }

    &--1:before {
      content: "";
      min-width: 56px;
      height: 69px;
      background: url("../../images/icons/sprite.png") -466px -178px;
    }
  }

  &__descr {
    font-size: $fz-md;
  }

  &__price {
    font-size: $fz-sm;
  }
}