@import "../utils/_mixins";
@import "../utils/_vars";

.popular-services {
  margin-bottom: $mb50;

  &__item {
    border: 1px solid $br-color;
    padding: 25px 0;
    border-radius: 3px;
    margin: 0 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 calc(33.333% - 30px);

    &:hover {
      @include hover(background-color, $primary-color);
      color: $text-light;
      cursor: pointer;
    }

    &:before {
      width: 35%;
      margin: auto;
    }

    &--1:before {
      content: "";
      max-width: 56px;
      height: 69px;
      background: url("../../images/icons/sprite.png") -466px -178px;
    }

    &--2:before {
      content: "";
      max-width: 76px;
      height: 70px;
      background: url("../../images/icons/sprite.png") -128px -79px;
    }
    &--2:hover:before {
      width: 76px;
      height: 70px;
      background: url("../../images/icons/sprite.png") -282px -10px;
    }

    &--3:before {
      content: "";
      max-width: 84px;
      height: 53px;
      background: url("../../images/icons/sprite.png") -10px -349px;
    }

    &--4:before {
      content: "";
      max-width: 67px;
      height: 64px;
      background: url("../../images/icons/sprite.png") -466px -10px;
    }

    &--5:before {
      content: "";
      max-width: 48px;
      height: 65px;
      background: url("../../images/icons/sprite.png") -10px -422px;
    }

    &--6:before {
      content: "";
      max-width: 67px;
      height: 70px;
      background: url("../../images/icons/sprite.png") -378px -102px;
    }
  }

  &__descr {
    width: 65%;
    padding-right: 25px;
  }

  &__text {
    font-size: $fz-md;
  }

  &__price {
    font-size: $fz-sm;
  }
}
