@import "../utils/_mixins";

.stars {
  &__item {
    width: 23px;
    height: 22px;

    &--blue {
      background: url("../../images/icons/sprite.png") -613px -150px;
    }
    &--light {
      background: url("../../images/icons/sprite.png") -613px -322px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
