.stocks-banner {
  .title-h2 {
    margin-bottom: 10px;
    font-size: 44px;
  }

  p {
    font-size: $fz-md;
    margin-bottom: 50px;
  }

  &__item {
    margin-bottom: 65px;

    img {
      display: block;
      width: 100%;
    }
  }
}
