@import "../utils/_vars";

.table-cost {
  margin-top: 55px;
  h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: $fz-lg;
    font-weight: bold;
  }

  .thead-light {
    th {
      background-color: $aqua-color;
      font-size: 18px;
      color: $text-dark;
    }
  }

  td {
    font-size: 15px;
    color: $text-dark;

    &:nth-child(3) {
      font-weight: bold;
    }
  }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid $br-color;
    padding: 13px 25px;
  }

  .table-col-2 {
    td {

      &:nth-child(2) {
        font-weight: bold;
        width: 15%;
      }
    }

    tfoot {
      font-weight: bold;

      span {
        font-size: $lh-md;
      }
    }
  }
}
