.typical-repair-prices {
  margin-top: 60px;

  &__descr {
    margin-bottom: 20px;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
  &__item {
    border: 1px solid $br-color;
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    &__special {
      font-weight: bold;
    }
    &--1 {
      &__special {
        color: $warning-color;
        font-size: $fz-sm;
        &:before {
          content: "";
          width: 36px;
          height: 36px;
          background: url("../../images/icons/sprite.png") -553px -263px;
          margin-right: 15px;
        }

        @include hover(color, #FF7514);
      }
    }

    &--2 {
      &__special {
        color: $success-color;
        font-size: $fz-sm;
        &:before {
          content: "";
          width: 36px;
          height: 36px;
          background: url("../../images/icons/sprite.png") -553px -207px;
          margin-right: 15px;
        }

        @include hover(color, #06A707);
      }
    }

    &--3 {
      &__special {
        color: $danger-color;
        font-size: $fz-sm;
        &:before {
          content: "";
          width: 36px;
          height: 36px;
          background: url("../../images/icons/sprite.png") -553px -319px;
          margin-right: 15px;
        }

        @include hover(color, #DB0500);
      }
    }

    &__price {
      font-size: 24px;
      font-weight: bold;
      margin: auto 0 8px;
    }

    &__link {
      justify-content: center;
      margin-top: 5px;
      transition: background-color 0.3s;

      &:before {
        content: "";
        width: 20px;
        height: 25px;
        background: url("../../images/icons/sprite.png") -613px -236px;
        margin-right: 10px;
      }

      &:hover {
        background-color: #0069d9;
        color: $text-light;
      }

      color: $text-light;
      background-color: $primary-color;
      padding: 10px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: $lh-md;
    font-weight: bold;
    margin-bottom: 15px;
  }
}
