/*
 ## Colors
*/

$palette-primary: (
  blue : #0099e8,
  light-blue : #00acdc,
  gray-lighten: #676767,
  aqua: #e5f5fd
);

$primary-color: map-get($palette-primary, blue);
$secondary-color: map-get($palette-primary, gray-lighten);
$info-color: map-get($palette-primary, light-blue);
$aqua-color: map_get($palette-primary, aqua);

$palette-secondary: (
  black: #000,
  white : #fff,
  green: #3eb105,
  yellow: #ffa200,
  red: #ff3000
);
$success-color: map-get($palette-secondary, green);
$warning-color: map-get($palette-secondary, yellow);
$danger-color: map-get($palette-secondary, red);

$text-dark: #000;
$text-light: map-get($palette-secondary, white);
$br-color: #e4e9f3;

/*
 ## Font, line-height, font-size
*/

$fz-xl: 36px;
$fz-lg: 30px;
$fz-md: 18px;
$fz-sm: 15px;
$fz-xs: 12px;

$lh-lg: 48px;
$lh-md: 24px;

/*
 ## Spacing
*/

$mb80: 80px;
$mb50: 50px;
