.title-h2 {
  font-size: $fz-xl;
  font-weight: bold;
}

.title-h3 {
  font-weight: bold;
  font-size: $fz-lg;
}

.title-h4 {
  font-weight: bold;
  font-size: 24px;
}

p {
  font-size: $fz-sm;
  color: $secondary-color;
}

hr.divider {
  margin-top: 90px;
  margin-bottom: 75px;
}

.breadcrumbs {
  margin-top: 50px;
}
.breadcrumbs span:not(:first-child):before{
 content: " / ";
}
.bottom-call-back {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.bottom-call-back span {
  white-space: nowrap;
}

.show-1200,
.show-991,
.show-575 {
  display: none;
}

.main-content {
  width: calc(100% - 320px);
}

.reviews__video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.reviews__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-us__text-mob {
  display: none;
}
.hero {
  margin-bottom: 35px;
}
.hero-title {
  font-weight: bold;
  font-size: 44px;
}
.hero-descr {
  font-size: 18px;
  color: #656565;
}
.tags {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-wrap: wrap;

  span {
    padding: 5px 12px;
    margin-right: 7px;
    margin-bottom: 5px;
    border-radius: 2px;
    background-color: rgba(0, 153, 232, 0.3);
    color: $primary-color;

    &:hover {
      background-color: rgba(0, 153, 232, 1);
    }
  }
  span.active {
    background-color: rgba(0, 153, 232, 1);
    color: #fff;
  }
}
.pagination li a {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 5px;
  line-height: 40px;
  font-size: 18px;
  border-radius: 2px;
  text-align: center;
  color: #000;
  border: 1px solid #e5e5e5;
  text-decoration: none;
}
.pagination li a.active {
  background-color: $primary-color;
  border: 1px solid $primary-color;
  color: #fff;
}
.pagination {
  margin-top: 40px;
}
.review-tab {
  .nav-link {
    font-size: 15px;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
  .nav-link.active {
    background-color: $primary-color;
    color: #fff;
  }
}