@import "../utils/_vars";

.title-h2 {
  font-size: $fz-xl;
  font-weight: bold;
}

.title-h3 {
  font-weight: bold;
  font-size: $fz-lg;
}

.title-h4 {
  font-weight: bold;
  font-size: $lh-md;
}

p {
  font-size: $fz-sm;
  color: $secondary-color;
}

hr.divider {
  margin-top: 90px;
  margin-bottom: 90px;
}
