.arrow_list {
  width: 11px;
  height: 6px;
  background: url("../../images/icons/sprite.png") -224px -135px;
}

.arrow_next {
  width: 30px;
  height: 18px;
  background: url("../../images/icons/sprite.png") -224px -507px;
}

.arrow_right_blue {
  width: 7px;
  height: 11px;
  background: url("../../images/icons/sprite.png") -613px -517px;
}

.catalog_repair_1 {
  width: 70px;
  height: 70px;
  background: url("../../images/icons/sprite.png") -282px -100px;
}

.catalog_repair_2 {
  width: 70px;
  height: 70px;
  background: url("../../images/icons/sprite.png") -10px -259px;
}

.catalog_repair_3 {
  width: 70px;
  height: 70px;
  background: url("../../images/icons/sprite.png") -100px -259px;
}

.catalog_repair_4 {
  width: 70px;
  height: 70px;
  background: url("../../images/icons/sprite.png") -190px -259px;
}

.catalog_repair_5 {
  width: 98px;
  height: 100px;
  background: url("../../images/icons/sprite.png") -10px -79px;
}

.contacts_mail {
  width: 48px;
  height: 34px;
  background: url("../../images/icons/sprite.png") -284px -422px;
}

.contacts_phone {
  width: 44px;
  height: 42px;
  background: url("../../images/icons/sprite.png") -220px -422px;
}

.contacts_social {
  width: 46px;
  height: 46px;
  background: url("../../images/icons/sprite.png") -154px -422px;
}

.cost_1 {
  width: 48px;
  height: 48px;
  background: url("../../images/icons/sprite.png") -254px -349px;
}

.cost_2_blue {
  width: 50px;
  height: 50px;
  background: url("../../images/icons/sprite.png") -114px -349px;
}

.cost_2_white {
  width: 67px;
  height: 67px;
  background: url("../../images/icons/sprite.png") -378px -192px;
}

.cost_3 {
  width: 55px;
  height: 46px;
  background: url("../../images/icons/sprite.png") -282px -190px;
}

.cost_4 {
  width: 52px;
  height: 50px;
  background: url("../../images/icons/sprite.png") -466px -347px;
}

.icon_attach {
  width: 19px;
  height: 21px;
  background: url("../../images/icons/sprite.png") -613px -399px;
}

.icon_calc {
  width: 68px;
  height: 72px;
  background: url("../../images/icons/sprite.png") -378px -10px;
}

.icon_calc_white {
  width: 20px;
  height: 25px;
  background: url("../../images/icons/sprite.png") -613px -236px;
}

.icon_contact_calc {
  width: 35px;
  height: 42px;
  background: url("../../images/icons/sprite.png") -553px -145px;
}

.icon_contact_phone {
  width: 40px;
  height: 47px;
  background: url("../../images/icons/sprite.png") -553px -10px;
}

.icon_contact_social {
  width: 42px;
  height: 43px;
  background: url("../../images/icons/sprite.png") -10px -507px;
}

.icon_estimate {
  width: 21px;
  height: 24px;
  background: url("../../images/icons/sprite.png") -613px -192px;
}

.icon_gift_green {
  width: 36px;
  height: 36px;
  background: url("../../images/icons/sprite.png") -553px -207px;
}

.icon_gift_orange {
  width: 36px;
  height: 36px;
  background: url("../../images/icons/sprite.png") -553px -263px;
}

.icon_gift_red {
  width: 36px;
  height: 36px;
  background: url("../../images/icons/sprite.png") -553px -319px;
}

.icon_menu_cancel_mb {
  width: 21px;
  height: 21px;
  background: url("../../images/icons/sprite.png") -613px -281px;
}

.icon_menu_mb {
  width: 24px;
  height: 17px;
  background: url("../../images/icons/sprite.png") -613px -362px;
}

.icon_phone {
  width: 18px;
  height: 20px;
  background: url("../../images/icons/sprite.png") -613px -440px;
}

.icon_smile {
  width: 30px;
  height: 30px;
  background: url("../../images/icons/sprite.png") -123px -507px;
}

.icon_social_vk {
  width: 16px;
  height: 17px;
  background: url("../../images/icons/sprite.png") -613px -480px;
}

.icon_special {
  width: 36px;
  height: 36px;
  background: url("../../images/icons/sprite.png") -553px -375px;
}

.icon_special_2 {
  width: 36px;
  height: 36px;
  background: url("../../images/icons/sprite.png") -553px -431px;
}

.icon_special_3 {
  width: 36px;
  height: 36px;
  background: url("../../images/icons/sprite.png") -224px -79px;
}

.icon_stock_blue {
  width: 26px;
  height: 26px;
  background: url("../../images/icons/sprite.png") -613px -58px;
}

.icon_stock_white {
  width: 26px;
  height: 26px;
  background: url("../../images/icons/sprite.png") -613px -104px;
}

.icon_success {
  width: 34px;
  height: 34px;
  background: url("../../images/icons/sprite.png") -352px -422px;
}

.logo_footer {
  width: 210px;
  height: 40px;
  background: url("../../images/icons/sprite.png") -10px -199px;
}

.logo_header_main {
  width: 252px;
  height: 49px;
  background: url("../../images/icons/sprite.png") -10px -10px;
}

.main_prof_1 {
  width: 51px;
  height: 50px;
  background: url("../../images/icons/sprite.png") -378px -279px;
}

.main_prof_2 {
  width: 50px;
  height: 50px;
  background: url("../../images/icons/sprite.png") -184px -349px;
}

.main_prof_3 {
  width: 50px;
  height: 43px;
  background: url("../../images/icons/sprite.png") -322px -349px;
}

.main_prof_4 {
  width: 34px;
  height: 48px;
  background: url("../../images/icons/sprite.png") -553px -77px;
}

.main_prof_5 {
  width: 50px;
  height: 37px;
  background: url("../../images/icons/sprite.png") -392px -349px;
}

.main_services_1 {
  width: 56px;
  height: 69px;
  background: url("../../images/icons/sprite.png") -466px -178px;
}

.main_services_2_blue {
  width: 76px;
  height: 70px;
  background: url("../../images/icons/sprite.png") -128px -79px;
}

.main_services_2_white {
  width: 76px;
  height: 70px;
  background: url("../../images/icons/sprite.png") -282px -10px;
}

.main_services_3 {
  width: 84px;
  height: 53px;
  background: url("../../images/icons/sprite.png") -10px -349px;
}

.main_services_4 {
  width: 67px;
  height: 64px;
  background: url("../../images/icons/sprite.png") -466px -10px;
}

.main_services_5 {
  width: 48px;
  height: 65px;
  background: url("../../images/icons/sprite.png") -10px -422px;
}

.main_services_6 {
  width: 67px;
  height: 70px;
  background: url("../../images/icons/sprite.png") -378px -102px;
}

.main_services_7 {
  width: 66px;
  height: 66px;
  background: url("../../images/icons/sprite.png") -280px -259px;
}

.main_services_8 {
  width: 56px;
  height: 56px;
  background: url("../../images/icons/sprite.png") -78px -422px;
}

.main_services_9 {
  width: 60px;
  height: 60px;
  background: url("../../images/icons/sprite.png") -466px -267px;
}

.main_services_10 {
  width: 64px;
  height: 64px;
  background: url("../../images/icons/sprite.png") -466px -94px;
}

.review_star_blue {
  width: 23px;
  height: 22px;
  background: url("../../images/icons/sprite.png") -613px -150px;
}

.review_star_white {
  width: 21px;
  height: 20px;
  background: url("../../images/icons/sprite.png") -613px -322px;
}

.social_inst {
  width: 32px;
  height: 33px;
  background: url("../../images/icons/sprite.png") -406px -422px;
}

.social_telegram {
  width: 29px;
  height: 28px;
  background: url("../../images/icons/sprite.png") -613px -10px;
}

.social_vk {
  width: 31px;
  height: 32px;
  background: url("../../images/icons/sprite.png") -72px -507px;
}

.social_whatsapp {
  width: 31px;
  height: 27px;
  background: url("../../images/icons/sprite.png") -173px -507px;
}

.social_youtube {
  width: 35px;
  height: 29px;
  background: url("../../images/icons/sprite.png") -458px -422px;
}
